<!doctype html>

<html lang="ru">

<head>
  <meta charset="utf-8">

  <title>Students LK</title>

  <link rel="stylesheet" href="public/css/styles.css?v=1.0">

  <script src="public/js/jquery.js"></script>
</head>

<body>
  <header>
    <a href="/logout" class="button" />Выйти</a>
  </header>
  </div>
  <div id="left_bar">
    <div id="menu">
      <ul id="navbar">
        <li><a data-href="main">Главная</a></li>
        <li><a data-href="marks">Табель успеваемости</a></li>
        <li><a data-href="stats">Статистика успеваемости</a></li>
        <li><a data-href="marks">Документы</a></li>
      </ul>
    </div>
  </div>
  <div class ="container" id="main">
    <h1>Информация о студенте</h1>
    <table class="table_info">
        <tr>
          <td>Имя студента: </td>
          <td><%=name%></td>
        </tr>
        <tr>
          <td>Номер зачетной книжки: </td>
          <td><%=record%></td>
        </tr>
        <tr>
          <td>Факультет: </td>
          <td><%=faculty%></td>
        </tr>
        <tr>
          <td>Направление: </td>
          <td><%=direction%></td>
        </tr>
        <tr>
          <td>Номер группы: </td>
          <td><%=group%></td>
        </tr>
        <tr>
          <td>Дата поступления: </td>
          <td><%=admissionYear%></td>
        </tr>
    </table>
  </div>
  <div class ="container" id="marks">
    <table class="table_marks">
      <thead>
        <tr>
          <th align="left">Семестр</th>
          <th align="left">Предмет</th>
          <th align="left">Оценка</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script src="public/js/main.js"></script>
</body>

</html>